<main class="container">

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <div class="header">
    <h1>List of services</h1>
    <%= link_to "New service", new_service_path, data: { turbo_frame: dom_id(Service.new) } %>
  </div>

  <%= turbo_frame_tag Service.new %>

  <%= turbo_frame_tag "services" do %>
    <%= render @services %>
  <% end %>
</main>