<%= form_with model: bank do |form| %>
  <% if bank.errors.any? %>
    <div class="error-message">
      <%= bank.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <div class="row">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div> <br>
  <div class="row">
    <%= form.label :pid %>
    <%= form.number_field :pid %>
  </div> <br>
  <%= form.submit %>
<% end %>