<main class="container">

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <div class="header">
    <h1>List of clients</h1>
    <%= link_to "New client", new_client_path %>
  </div>

  <% @clients.each do |client| %>
    <div class="client-card-short">
      Name: <%= link_to client.first_name + " " + client.last_name, client %>
      Email: <%= client.email %>
    </div>
  <% end %>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</main>