<div class="bill-card">
  <div class="info">
    <p>Client name: <%= bill.client.first_name + " " + bill.client.last_name %></p>
    <p>Discount: <%= bill.discount %>%</p>

    <div class="items">
      <% bill.bill_items.each do |bill_item| %>
        <p>Service: <%= bill_item.service.name %></p>
        <p>Price: <%= bill_item.service.price %></p>
        <p>Quantity: <%= bill_item.quantity %></p>
      <% end %>
    </div>

    <p>Total price: <%= bill.price %></p>
    <div id="paid">
      <p>Payment status:
        <% if bill.paid? %>
          paid
        <% else %>
          unpaid
        <% end %></p>
      <% unless bill.paid? %>
        <%= button_to "Set as paid", set_bill_as_paid_path(bill), method: :put %>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= link_to "Back to bills", bills_path %>
  </div>
</div>
