<main class="container">

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <div class="header">
    <h1>List of bills</h1>
    <%= link_to "New bill", new_bill_path %>
  </div>

  <% @bills.each do |bill| %>
    <div class="bill-card-short">
      <p>Client: <%= link_to bill.client.first_name + " " + bill.client.last_name, bill.client %></p>
      <p>Price: <%= bill.price %></p>
      <p>Status: <%= bill.status %></p>
      <p><%= link_to "More information", bill %></p>
    </div>
  <% end %>
</main>