<main class="container">
  <h1>List of banks</h1>

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <%= link_to "New bank", new_admin_bank_path, data: { turbo_frame: dom_id(Bank.new) } %>

  <%= turbo_frame_tag Bank.new %>

  <%= turbo_frame_tag "banks" do %>
    <%= render @banks %>
  <% end %>
</main>